# Ignore specific files
data/pretrain_input.txt
data/pretrain_train.bin
data/pretrain_val.bin
data/qa_input.txt
data/qa_train.bin
data/qa_val.bin

# Ignore an entire folder
venv/
out/
__pycache__/
data/very_small_for_test_feedback_data/
data/nanoGPT_feedback_data/
data/miniGPT_feedback_data/
data/GPT2-Small_feedback_data/
data/GPT2-Medium_feedback_data/
data/GPT2-Large_feedback_data/
data/GPT2-XL_feedback_data/